*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

section {
    min-height: 100vh;
}


.first-row {
    /* background: red; */
    margin: 8rem;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.content {
    width: 60%;
    align-content: center;
}

.content h2 {
    font-size: 40px;
}

.content p {
    font-size: 30px;
}

.search-bar {
    width: 40%;
}

.search-bar {
    width: auto;
    height: auto;
    background: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: white;
    width: 400px;
    height: 50px;
    display: flex;
    border-radius: 30px;
    border: 1px solid black;
}

form input {
    flex: 1;
    border: none;
    outline: none;
    background: white;
}

form button {
    background:  black;
    padding: 5px 30px;
    border: 3px solid black;
    outline: none;
    color: #ffffff;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 15px;

}

form .bx-search-alt-2 {
    align-self: center;
    padding: 5px 20px;
    color: #000;
}

::placeholder {
    color: gray;
    font-size: 15px;
}

.second-row {
    /* background: lightslategray; */
    margin: 8rem;
    padding: 20px;
    display: flex;
    justify-content: space-between;

}

.second-row .logo-text {
    font-size: 30px;
}


.second-row .logo-text .logo-title {
    display: flex;
    justify-content: left;
}

.logo img {
    width: 4rem;
    height: 4rem;
    margin-top: 0px;
   }

.second-row .logo-text p {
    margin-top: 4rem;
}

table, th, td {
  border: 0px solid black;
  font-size: 30px;
  border-spacing: 4rem 1rem;
}
/* table {
  border-spacing: 6rem 1rem;
} */